.board {
  display: flex;
  height: auto;
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  position: relative;
  grid-template-columns: repeat(4, auto);
  width: var(--container-width);
  height: var(--container-width);
}

.messages {
  padding-top: 1rem;
}
