.Button {
  padding: 8px;
  max-width: 80px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  color: var(--white);
  background-color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
  border-radius: 4px;
  cursor: pointer;
}

.title {
  font-weight: 700;
  font-size: 1.2rem;
}

.content {
  padding: 5px;
  display: block;
  color: (--dark-gray);
}
